// Styling for the masthead
header.masthead {
  position: relative;
  width: 100%;
  height: 100vh!important;
  min-height: auto;
  text-align: center;
  color: white;
  background-image: url('../img/hero_header.jpg');
  background-position: center;
  background-attachment: fixed;
  @include background-cover;
  .header-content {
    position: relative;
    width: 100%;
    padding: 150px 15px 100px;
    text-align: center;
    .header-content-inner {
      h3 {
        font-size: 25px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 10px;
        text-transform: uppercase;
      }
      hr {
        margin: 30px auto;
      }
      p {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 20px;
        color: fade-out(white, .3);
        text-align: center;
        margin-left: 20px !important;
        width: 400px;
      }
      a{
        margin-left: 140px;
        
      }
    }
  }
  @media (min-width: 768px) {
    height: 100%;
    min-height: 600px;
    .header-content {
      position: absolute;
      top: 50%;
      padding: 0 50px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      .header-content-inner {
        max-width: 1000px;
        margin-right: auto;
        margin-left: auto;
        h1 {
          font-size: 50px;
        }
        p {
          font-size: 18px;
          max-width: 80%;
          margin-right: auto;
          margin-left: auto;
        }
      }
    }
  }
}

//Styling for masthead2
header.masthead2 {
  position: relative;
  width: 100%;
  height: 100vh !important;

  min-height: auto;
  text-align: center;
  color: white;
  background-image: url('../img/ss2.jpg');
  background-position: center;
  background-attachment: fixed;
  @include background-cover;
  .header-content {
    position: relative;
    width: 100%;
    padding: 150px 15px 100px;
    text-align: center;
    .header-content-inner {
      h3 {
        font-size: 25px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 10px;
        text-transform: uppercase;
        color: #ffff;
        width: 300px;
        margin-left: 40px;
        margin-top: -30px;
        margin-bottom: 30px;
        text-align: center;
      }
      hr {
        margin: 30px auto;
      }
      p {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 20px;
        color: fade-out(white, .3);
      }
      a{
        margin-left: 120px;
        
      }
    }
  }
  @media (min-width: 768px) {
    height: 100%;
    min-height: 600px;
    .header-content {
      position: absolute;
      top: 50%;
      padding: 0 50px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      .header-content-inner {
        max-width: 1000px;
        margin-right: auto;
        margin-left: auto;
        h1 {
          font-size: 50px;
        }
        p {
          font-size: 18px;
          max-width: 80%;
          margin-right: auto;
          margin-left: auto;
        }
      }
    }
  }
}

//Styling for masthead3
header.masthead3 {
  position: relative;
  width: 100%;
  height:100vh !important;
  min-height: auto;
  text-align: center;
  color: white;
  background-image: url('../img/ss3.jpg');
  background-position: center;
  background-attachment: fixed;
  @include background-cover;
  .header-content {
    position: relative;
    width: 100%;
    padding: 150px 15px 100px;
    text-align: center;
    .header-content-inner {
      h3 {
        font-size: 25px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 10px;
        margin-left:30px;
        text-transform: uppercase;
        width: 356px;
        color: #ffff;
        text-align: center;
      }
      hr {
        margin: 30px auto;
      }
      p {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 20px;
        color: fade-out(white, .3);
      }
      a{
        margin-left: 140px;
        
      }
    }
  }
  @media (min-width: 768px) {
    height: 100%;
    min-height: 600px;
    .header-content {
      position: absolute;
      top: 50%;
      padding: 0 50px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      .header-content-inner {
        max-width: 1000px;
        margin-right: auto;
        margin-left: auto;
        h1 {
          font-size: 50px;
        }
        p {
          font-size: 18px;
          max-width: 80%;
          margin-right: auto;
          margin-left: auto;
        }
      }
    }
  }
}
