// Styling for the services section
.service-box {
  max-width: 400px;
  margin: 50px auto 0;
  @media (min-width: 992px) {
    margin: 20px auto 0;
  }
  p {
    margin-bottom: 0;
    font-size: 14px;
  }
  h3{
    font-size: 22px;
  }
}

.sr-icons{
  width: 60px;
  height: 60px;
}
#d_icon{
  background-image: url("../img/services/cream.png");
  background-size: cover;
}
#cp_icon{
  background-image: url("../img/services/face-mask.png");
  background-size: cover;
}

#ps_icon{
  background-image: url("../img/services/plastic-surgery.png");
  background-size: cover;

}

#gs_icon{
  background-image: url("../img/services/surgeon.png");
  background-size: cover;
}
