.footer{
  background-color: $theme-primary;
  color:white;
  padding-bottom: 50px;
  padding-top: 50px;
}

#footer{
  font-family: roboto;
  font-size: 14px;
  margin-top:-60px;
 
  #f356aedd65b77015bf141886b07d3f1383ce057172cdb8fbc17d40355e336261{
    margin: 15px 0 0 30px !important;
  }
  h2{
    text-align:center;
  }
  .col-lg-4{
    float:left;
    h5{
      text-align:center;
    }
  }
  .serv_list{
    padding:0;
    margin-top:15px;
    ul{
      li{
        display:block;
        
        padding-top:10px;
        list-style: none;
        text-align: center;

      }
    }
  }
  #loc{
    p{
      text-align: center;
      padding-top:10px;
    }
  }
}
.foot-btn{
  background-color: $theme-secondary;
  margin-left: -31px;
  margin-top: 0px;
  height: 27px;
  margin-top:15px;
}

.foot-input{

  width:100%;
  margin-top:15px;
}
.icon-con{
  width: 120px;
  position:absolute;
  left: 88%;
  top:0;
  margin-top:0;
}
.sm_icons{
  width: 25px;
  margin-left: 10px;
  margin-top: 8px;
}

.foot_bot{
  span{
    font-size:15px;
    position:relative;
    top:10px;
  }
}
