.footer{
  background-color: $theme-primary;
}

#footer{
  font-family: roboto;
  font-size: 14px;

  .col-lg-4{
    float:left;
    h5{
      text-align:center;
    }
  }
  .serv_list{
    ul{
      li{
        display:block;
        padding-top:10px;
        list-style: none;
        text-align: justify;

      }
    }
  }
  #loc{
    p{
      text-align: center;
      padding-top:10px;
    }
  }
}
.foot-btn{
  background-color: $theme-secondary;
}
